
body {
    font-family: sans-serif;
}
h1 {
    width: 100%;
    text-align: center;
}
.flex {
    display: flex;
    justify-content: start;
}

.header-section {
    margin: 2.5%;
}
.photo-template {
   display: inline-block;
   width: 33%;
   margin: 0 auto;
}
.photo-template > div {
    margin: 2.5%%;
    padding: 2.5%;
    border: 1px solid;
}
/*

Utility styles



***help!***
***call the digital maintenence man! this is too much for a back - end software engineer!***
*/
textarea:focus, input:focus{
    outline: none;
}
img {
 
    width: 100%;
    height: 65%;
}

@media screen and (max-width: 920px) {
    .photo-template {
        width: 45%;
    }
}

@media screen and (max-width: 610px) {
    .photo-template {
        display: block;
        width: 100%;
    }
}